!!! 5
%html
  %head
    %meta(charset='utf-8')
    %title
      CCC-TV -
      = @item[:title]
    %meta{name: 'description', content: ''}
    %meta{name: 'author', content: ''}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %link{href: '/assets/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{href: '/assets/css/bootstrap-theme.min.css', rel: 'stylesheet'}
    %link{href: '/assets/css/styles.css', rel: 'stylesheet'}
  %body
    = render '/partials/navbar'
    %div.container
      %div.row
        %div.col-md-4.col-md-offset-4
          %div.thumbnail
            %img{src: '/images/folder.png', alt: ''}
            %div.caption
              %a(href="..") ..

      - if @item[:folders].present?
        - @item[:folders].each do |folder|
          %div.row
            %div.col-md-4.col-md-offset-4
              %div.thumbnail
                - if folder.conference
                  %img{src: folder.conference.logo, alt: ''}
                - else
                  %img{src: '/images/folder.png', alt: ''}
                %div.caption
                  %a(href="/browse/#{folder.location}/index.html")
                    = folder.name

      %pre
        = @item[:folders].to_yaml

      = yield

      = render '/partials/navbar'

    %script(src="/assets/js/jquery.min.js")
    %script(src="/assets/js/bootstrap.min.js")

