!!! 5
%html
  %head
    %title
      C3TV -
      = h @item[:title]
    = render '/partials/header'
  %body
    = render '/partials/navbar'
    %div.container

      %ul
      - if @item[:events].present?
        - @item[:events].each do |event|
          %li
            %a{href: h(event.url)}
              = "#{event.conference.acronym} - #{event.title}" 

      = yield

      = render '/partials/footer'

    %script(src="/assets/js/jquery.min.js")
    %script(src="/assets/js/bootstrap.min.js")

