!!! 5
%html
  %head
    %meta(charset='utf-8')
    %title
      = @item[:title]
    %meta{name: 'description', content: ''}
    %meta{name: 'author', content: ''}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %link{href: '/assets/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{href: '/assets/css/bootstrap-theme.min.css', rel: 'stylesheet'}
    %link{href: '/assets/css/styles.css', rel: 'stylesheet'}
  %body
    = render '/partials/navbar'
    %div.container

      %ul
      - if @item[:events].present?
        - @item[:events].each do |event|
          %li
            %a{href: "/browse/#{@item[:conference][:webgen_location]}/#{event.slug}.html"}
              = event.title

      %pre
        = @item[:conference].to_yaml
      %img{src: @item[:conference].logo}

      = yield

      = render '/partials/navbar'

    %script(src="/assets/js/jquery.min.js")
    %script(src="/assets/js/bootstrap.min.js")
