!!! 5
%html
  %head
    %title
      C3TV -
      = h @item[:title]
    = render '/partials/header'
    %link{rel: "alternate", type: "application/rss+xml", title: "Podcast feed for this folder", href: "podcast.xml"}
  %body
    = render '/partials/navbar'

    %div.container.top-space

      %div.row
        %div.col-md-2
          %img{src: @item[:conference].logo_url}
        %div.col-md-6
          %h3= @item[:conference].acronym
          - if @item[:conference_title] and not item[:conference].acronym == @item[:conference].title
            %h2= h @item[:conference].title
        #sorting.col-md-4
          .list
            .text
              sort by
            %ul.pagination.pagination-sm
              - %w{date duration name rand()}.each do |sorting|
                - if @item[:sorting] == sorting
                  %li.active
                    %a{ href: "/browse/#{@item[:conference].webgen_location}/#{sorting}/" }= sorting
                - else
                  %li
                    %a{ href: "/browse/#{@item[:conference].webgen_location}/#{sorting}/" }= sorting

      - if @item[:events].present?
        -# Build event overview
        - @item[:events].each_slice(4) do |blocks|
          %div.row
            - blocks.each do |event|
              - recordings = event.recordings.downloaded
              %div.col-xs-6.col-md-3
                %div.thumbnail
                  %a{href: h(event.url)}
                    %img.video-thumbnail{src: h(event.thumb_url), alt: h(event.title)}
                  %div.icons
                    = video_quality_icon(recordings) if recordings.present?
                    = audio_ready_icon_link(recordings) if recordings.present?
                  %div.caption
                    %h3= h event.title
                    %p
                      - if event.persons.present?
                        = h event.persons.join(', ')
                      %br
                        %span.small= date(event)
                        %span.small= recording_length(recordings)

      = yield

      #top
        #col-md-4
          %ul.pagination.pagination-sm
            %li
              %a{ href: '#' } Top ↑

    = render '/partials/footer'
    %script(src="/assets/js/jquery.min.js")
    %script(src="/assets/js/bootstrap.min.js")
    %script(src="/assets/js/thumbnails.js")
