!!! 5
%html
  %head
    %title
      CCC-TV -
      = h @item[:title]
    = render '/partials/header'
  %body
    = render '/partials/navbar'
    %div.container

      %div.row
        %div.col-md-2
          %img{src: @item[:conference].logo_url}
        %div.col-md-10
          %h3= @item[:conference].acronym
          %h2= h @item[:conference].title

      - if @item[:events].present?
        - @item[:events].each_slice(4) do |events|
          %div.row
            - events.each do |event|
              - recordings = event.recordings.downloaded
              %div.col-xs-6.col-md-3
                %div.thumbnail
                  %a{href: h(event.url)}
                    %img.video-thumbnail{src: h(event.thumb_url), alt: h(event.title)}
                  %div.icons
                    = video_quality_icon(recordings) if recordings.present?
                    = audio_ready_icon_link(recordings) if recordings.present?
                  %div.caption
                    %h3= h event.title
                    %p
                      - if event.persons.present?
                        = h event.persons.join(', ')
                      %br
                        %span.small= date(event)
                        %span.small= recording_length_minutes(recordings.first) if recordings.present?
 
      = yield

      = render '/partials/footer'

    %script(src="/assets/js/jquery.min.js")
    %script(src="/assets/js/bootstrap.min.js")
    %script(src="/assets/js/thumbnails.js")

