!!! 5
%html
  %head
    %meta(charset='utf-8')
    %title
      = "CCC-TV - #{@item[:title]}"
    %meta{name: 'description', content: ''}
    %meta{name: 'author', content: ''}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %link{href: '/assets/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{href: '/assets/css/bootstrap-theme.min.css', rel: 'stylesheet'}
    %link{href: '/assets/css/styles.css', rel: 'stylesheet'}
  %body
    = render '/partials/navbar'
    %div.container

      %h3
        = @item[:event].title

      %video.video{controls: 'controls', poster: @item[:event].get_poster_path, width: 640, height: 360}
        - if @item[:recordings].present?
          - @item[:recordings].each do |recording|
            %source{type: recording.mime_type, src: recording.get_recording_path}

      = yield

      = render '/partials/footer'

    %script(src="/assets/js/jquery.min.js")
    %script(src="/assets/js/bootstrap.min.js")
