!!! 5
%html{lang: 'en'}
  %head
    = render '/partials/header'
    %title
      C3TV -
      = h @item[:title]
  %body
    = render '/partials/navbar'

    .container-fluid.top-space

      - if @item[:folders].present?
        - @item[:folders].each do |folder|
          - if folder.conference
            %a.thumbnail.conference{href: h(folder.url)}
              .header
                %span.fa.fa-video-camera
                = Event.recorded_at(folder.conference).to_a.count
              %img{src: folder.conference.logo_url, alt: 'conference logo'}
              .caption
                = folder.conference.title
          - else
            %a.thumbnail.folder{href: h(folder.url)}
              .header
                %span.fa.fa-th
                -# TODO: add number of child items instead of 42
                42
              .fa.fa-folder
              .caption
                = folder.name

      = yield

    = render '/partials/footer'

    %script(src="/assets/js/jquery.min.js")
    %script(src="/assets/js/bootstrap.min.js")

