!!! 5
%html
  %head
    %title
      CCC-TV -
      = h @item[:title]
    = render '/partials/header'
  %body
    = render '/partials/navbar'
    %div.container

      %div.row
        %div.col-md-2
          %img{src: @item[:conference].logo}
        %div.col-md-10
          %h3= @item[:conference].acronym
          %h2= h @item[:conference].title

      %ul
        %li
          %a(href="..") ..
        - if @item[:events].present?
          - @item[:events].each do |event|
            %li
              %img{src: h(event.gif_url)}
              %img{src: h(event.thumb_url)}
              %a{href: h(event.url)}
                = h event.title
              - if event.persons.present?
                Persons: #{h event.persons.join(', ')}
              = date(event)
              - recordings = event.recordings.downloaded
              - if recordings.present?
                = recording_length_minutes(recordings.first)
                = audio_ready_icon(recordings)
                = video_quality_icon(recordings)
 
      = yield

      = render '/partials/footer'

    %script(src="/assets/js/jquery.min.js")
    %script(src="/assets/js/bootstrap.min.js")

