!!! 5
%html
  %head
    %title
      CCC-TV -
      = @item[:title]
    = render '/partials/header'
  %body
    = render '/partials/navbar'
    %div.container

      %div.row
        %div.col-md-4.col-md-offset-4
          %div.thumbnail
            %img{src: '/images/folder.png', alt: ''}
            %div.caption
              %a(href="..") ..

      - if @item[:folders].present?
        - @item[:folders].each do |folder|
          %div.row
            %div.col-md-4.col-md-offset-4
              %div.thumbnail
                - if folder.conference
                  %img{src: folder.conference.logo, alt: ''}
                - else
                  %img{src: '/images/folder.png', alt: ''}
                %div.caption
                  %a(href="/browse/#{folder.location}/index.html")
                    = folder.name

      %pre
        = @item[:folders].to_yaml

      = yield

      = render '/partials/footer'

    %script(src="/assets/js/jquery.min.js")
    %script(src="/assets/js/bootstrap.min.js")

