!!! 5
%html
  %head
    %title
      C3TV -
      = h @item[:title]
    = render '/partials/header'
  %body
    = render '/partials/navbar'
    %div.container

      %h3
        =  h @item[:event].title
      - if @item[:event].subtitle
        %h4
          = h @item[:event].subtitle

      - if @item[:video_recordings].present?
        - r = @item[:video_recordings].first
        %video.video{controls: 'controls', poster: h(@item[:event].poster_url), width: aspect_ratio_width(@item[:conference]), height: aspect_ratio_height(@item[:conference])}
          - @item[:video_recordings].each do |recording|
            %source{type: recording.mime_type, src: h(recording.url)}

      - if @item[:audio_recordings].present?
        %audio.audio{controls: 'true'}
          - @item[:audio_recordings].each do |recording|
            %source{type: recording.mime_type, src: h(recording.url)}


      %p.meta
        / index
        %b About:
        %a{href: @item[:event].link} 
          = h @item[:event].title

        from 
        = date(@item[:event])

      %p.file-list
        %b Directory: 
        %a{href: @item[:conference].recordings_url}
          = @item[:conference].recordings_path

        %div.row
          %ul.col-md-6
            - @item[:video_recordings].each do |recording|
              %li
                %a{href: recording.url}
                  = recording.filename
              %li
                %a{href: recording.torrent_url}
                  = recording.filename + '.torrent'
          %ul.col-md-6
            - @item[:audio_recordings].each do |recording|
              %li
                %a{href: recording.url}
                  = recording.filename
              %li
                %a{href: recording.torrent_url}
                  = recording.filename + '.torrent'

      %p.description

        = yield

          
      %p.persons
        %b Persons
        %ul
          - @item[:event].persons.each do |person|
            %li= h person

      = render '/partials/footer'

    %script(src="/assets/js/jquery.min.js")
    %script(src="/assets/js/bootstrap.min.js")

