!!! 5
%html
  %head
    %meta(charset='utf-8')
    %title
      C3TV -
      = @item[:title]

    %meta{name: 'description', content: Settings.header['description']}
    %meta{name: 'author', content: Settings.header['author']}
    %meta{name: 'keywords', content: Settings.header['keywords']}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

    %link{href: '/assets/css/styles.css', rel: 'stylesheet'}
    %link{href: '/news.atom', rel: 'alternate', title: 'C3TV - News', type: 'application/atom+xml'}
  %body
    = render '/partials/navbar'

    %div.container

      .row
        %div.col-md-9.top-space
          = yield

        %div.col-md-3.top-space
          %div
            %a.btn.btn-primary.btn-lg{role: 'button', href: '/browse'}
              Browse
          %br

          %div.panel.tag-cloud
            %div.panel-heading
              %h3.panel-title Tags
            %div.panel-body
              - tag_cloud.each do |tag|
                = tag

      = render '/partials/footer'

    %script(src="/assets/js/jquery.min.js")
    %script(src="/assets/js/bootstrap.min.js")
