!!! 5
%html
  %head
    %meta(charset='utf-8')
    %title
      C3TV -
      = @item[:title]
    = render '/partials/header'
    %script(src="/assets/js/jquery.min.js")
    %script(src="/assets/js/bootstrap.min.js")
  %body
    = render '/partials/navbar'
    = yield

  = render '/partials/footer'

