!!! 5
%html{lang: 'en'}
  %head
    = render '/partials/header'
    %title
      C3TV -
      = @item[:title]
    %script(src="/assets/js/jquery.min.js")
    %script(src="/assets/js/bootstrap.min.js")
    %script(src="/assets/js/purl.min.js")
    %script(src="/assets/js/search.js")
  %body
    = render '/partials/navbar'
    = yield

    = render '/partials/footer'

